<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Rami's Shopify Challenge</title>
  <meta content="Rami Taleb's Shopify Backend Challenge 2019" property="og:title">
  <meta content="This is my submission for the Shopify Backend Challenge Summer 2019. Hope you enjoy!." name="description">

</head>
<body>

<article class="markdown-body entry-content" itemprop="text">
  <h1>
    <a id="ramis-shopify-backend-challenge-2019" class="anchor" aria-hidden="true" href="#-ramis-shopify-backend-challenge-2019"></a>
    👨🏻‍💻 Rami's Shopify Backend Challenge 2019👨🏻‍💻</h1>
  <p>Hopefully this doesn't suck and helps you understand how to get this running, doing all the things you want it to. I don't have this project hosted anywhere so I hope its not too much trouble to follow these steps to get the project up and running on your local machine.</p>
  <p>You can access the API here once you have the project running: <a href="http://localhost:3000/graphiql" rel="nofollow">http://localhost:3000/graphiql</a></p>

  <h2>
    <a id="table-of-contents" class="anchor" aria-hidden="true" href="#table-of-contents"></a>
    Table of Contents
  </h2>
  <ul>
    <li>
      <p><a href="#the-api">The API</a></p>
      <ul>
        <li>
          <p><a href="#the-model">The Model</a></p>
        </li>
        <li>
          <p><a href="#adding-products-to-the-marketplace">Adding Products to the Marketplace</a></p>
        </li>
        <li>
          <p><a href="#querying-for-products">Querying for Products</a></p>
          <ul>
            <li>
              <p><a href="#querying-for-a-single-product">Querying for a Single Product</a></p>
              <ul>
                <li>
                  <p><a href="#querying-by-id">Querying by ID</a></p>
                </li>
                <li>
                  <p><a href="#querying-by-title">Querying by Title</a></p>
                </li>
              </ul>
            </li>
            <li>
              <p><a href="#querying-for-multiple-products">Querying for Multiple Products</a></p>
              <ul>
                <li>
                  <p><a href="#querying-for-all-products">Querying for all Products</a></p>
                </li>
                <li>
                  <p><a href="#querying-for-all-available-products">Querying for all Available Products</a></p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p><a href="#purchasing-a-product">Purchasing a Product</a></p>
        </li>
      </ul>
    </li>
  </ul>

  <h2><a id="the-api" class="anchor" aria-hidden="true" href="#the-api"></a>The API</h2>
  <p>I decided to use <a href="https://graphql.org/" rel="nofollow">GraphQL</a> as I've never used it before and I thought it would be a great opportunity to get my feet wet with it. <em>The bonus points also don't hurt</em> 🤪</p>
  <h3><a id="the-model" class="anchor" aria-hidden="true" href="#the-model"></a>The Model</h3>
  <p>Before we get into using the API we should familiarize ourselves with the model that we'll be working with.</p>
  <p>The Product model is what we're going to be using which has the following attributes:</p>
  <p><code>title</code>: String</p>
  <p><code>price</code>: Float</p>
  <p><code>inventory_count</code>: Integer</p>
  <h3><a id="adding-products-to-the-marketplace" class="anchor" aria-hidden="true" href="#adding-products-to-the-marketplace"></a>Adding Products to the Marketplace</h3>
  <p>To be able to query for products, we must first have products to query. This is how we're going to do that.
    You're going to want to write a mutation that will be able to add whatever you specify to the database.</p>
  <pre><code>Example:
mutation {
  create_product (
    title: "sandwich"
    price: 5.00
    inventory_count: 80
  ) {
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "create_product": {
      "id": "1",
      "title": "sandwich",
      "price": 5,
      "inventory_count": 80
    }
  }
}
</code></pre>
  <p>What this will do is it will create a sandwich, with the price of 5.00 and an inventory count of 80 then return to you the object its created.. You can change these values to whatever you'd like as long as they respect the type of the given attribute.</p>
  <h3><a id="querying-for-products" class="anchor" aria-hidden="true" href="#querying-for-products"></a>Querying for Products</h3>
  <p>Now that we have a product or multiple products in our database, we can start querying for them.</p>
  <h4><a id="querying-for-a-single-product" class="anchor" aria-hidden="true" href="#querying-for-a-single-product"></a>Querying for a Single Product</h4>
  <h5><a id="querying-by-id" class="anchor" aria-hidden="true" href="#querying-by-id"></a>Querying by ID</h5>
  <p>Here we are querying for a product by its unique ID. We are asking for it to return to us the id, title, price and inventory_count.</p>
  <pre><code>Example:
{
  product_by_id(id: 1) {
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "product_by_id": {
      "id": "1",
      "title": "sandwich",
      "price": 5.00,
      "inventory_count": 80
    }
  }
}
</code></pre>
  <p>As you can see it returns for us just the one product that we specified we wanted using the ID.</p>
  <h5><a id="querying-by-title" class="anchor" aria-hidden="true" href="#querying-by-title"></a>Querying by Title</h5>
  <p>Here we are querying for a product by its title.</p>
  <pre><code>Example:
{
  product_by_title(title: "sandwich") {
		id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "product_by_title": {
      "id": "1",
      "title": "sandwich",
      "price": 5.00,
      "inventory_count": 80
    }
  }
}
</code></pre>
  <p>As you can see it returns for us just the one product that we specified we wanted using the title.</p>
  <h4><a id="querying-for-multiple-products" class="anchor" aria-hidden="true" href="#querying-for-multiple-products"></a>Querying for Multiple Products</h4>
  <h5><a id="querying-for-all-products" class="anchor" aria-hidden="true" href="#querying-for-all-products"></a>Querying for all Products</h5>
  <p>Here we are querying for all products.</p>
  <pre><code>Example:
{
  all_products() {
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <p>OR</p>
  <pre><code>{
  all_products(only_available: false){
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "all_products": [
      {
        "id": "1",
        "title": "sandwich",
        "price": 5.00,
        "inventory_count": 80
      },
      {
        "id": "2",
        "title": "headphones",
        "price": 55.00,
        "inventory_count": 800
      },
      {
        "id": "3",
        "title": "love",
        "price": 1.00,
        "inventory_count": 0
      }
    ]
  }
}
</code></pre>
  <p>In both cases you can see it returns for us all products currently in our marketplace.</p>
  <h5><a id="querying-for-all-available-products" class="anchor" aria-hidden="true" href="#querying-for-all-available-products"></a>Querying for all Available Products</h5>
  <p>Available products are products with an <code>inventory_count &gt; 0</code>. We must pass an argument <code>only_available: true</code> to be able to only see the products that are available.</p>
  <pre><code>Example:
{
  all_products(only_available: true){
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "all_products": [
      {
        "id": "1",
        "title": "sandwich",
        "price": 5.00,
        "inventory_count": 80
      },
      {
        "id": "2",
        "title": "headphones",
        "price": 55.00,
        "inventory_count": 800
      }
    ]
  }
}
</code></pre>
  <p>As you can see here, we only were returned the products <code>sandwich</code> and <code>headphones</code>. Since the product <code>love</code> has an <code>inventory_count</code> of 0 it is not shown in this output. <g-emoji class="g-emoji" alias="broken_heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f494.png">💔</g-emoji></p>
  <h3><a id="purchasing-a-product" class="anchor" aria-hidden="true" href="#purchasing-a-product"></a>Purchasing a Product</h3>
  <p>You are also able to purchase available products with the API by calling this mutation endpoint along with the <code>id</code> of the product you would like to purchase. (No guarantee you will receive any product you purchase <g-emoji class="g-emoji" alias="no_mouth" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f636.png">😶</g-emoji>)</p>
  <pre><code>Example:
mutation {
  purchase_product (
    id: 1
  ) {
    id
    title
    price
    inventory_count
  }
}
</code></pre>
  <pre><code>Output:
{
  "data": {
    "purchase_product": {
      "id": "1",
      "title": "sandwich",
      "price": 5.0,
      "inventory_count": 79
    }
  }
}
</code></pre>
  <p>As you can see we are returned the product we purchased with an updated <code>inventory_count</code> that has been decremented by 1.</p>
  <p><strong>Note</strong>: Attempting to purchase a product with an <code>inventory_count</code> of 0 will just return back the product without decrementing it further.</p>
</article>

</body>
</html>

<style>
  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }
</style>